body {
  background: url("https://static.vecteezy.com/system/resources/previews/002/274/058/non_2x/a-woman-is-standing-with-arms-wide-open-in-a-clear-sky-and-a-wide-field-hand-drawn-style-design-illustrations-vector.jpg")
    center / cover no-repeat;
  margin: 0;
  padding: 0;
  height: 100vh;
}

h1 {
  font-size: 100px;
}

.App {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
}

.snowflake {
  display: inline-block;
  width: 0.1%;
  color: #fffafa;
  opacity: 0;
  font-size: 120px;
  margin: 0;
  padding: 0;
  animation: fall 16s linear infinite;
}

@keyframes fall {
  0% {
    opacity: 100;
  }
  3% {
    opacity: 100;
  }

  90% {
    opacity: 100;
  }
  100% {
    transform: translate(0, 97vh);
    opacity: 100;
  }
}
